@model IEnumerable<MentorDetails>
    @{
        ViewData["Title"] = "Display";
    }
    <style>
.bg-image{
background-image: url('../images/l5.jpg'); 
padding-top: 80px;
background-size: cover;
backdrop-filter: blur(10px);
 }
</style>
<body class="bg-image">

<h1>List of Mentors</h1>
<hr/>
<form>
<button asp-action="Add" class="btn btn-primary mb-3" style="float: right;"><i class="bi bi-plus-circle"></i> Add New Mentor</button>

<table class="table table-responsive table-hover table-bordered" style="background-color: whitesmoke;" width="80%" border="2">
    <thead>
        <tr class="table-active">
            <th> Mentor Id</th>
            <th>  Name</th>
            <th> Password</th>
            <th> Email</th>
            <th> Department</th>
            <th> Gender</th>
            <th> Role</th>
            <th> Actions</th>
            
        </tr>
    </thead>
    <tbody>
         @if(Model != null && Model.Any())
        {
        @foreach (MentorDetails item in Model)
        {
            <tr>
                <td>@item.MentorId</td>
                <td>@item.Username</td>
                <td>@item.Password</td>
                <td>@item.MentorEmail</td>
                <td>@item.MentorDprt</td>
                <td>@item.MentorGender</td>
                <td>@item.MentorRole</td>
                 <td>
                    <div class="btn-group btn-group-sm">
                        <a asp-controller="Mentor" asp-action="Edit" asp-route-itemid="@item.MentorId" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                       <a asp-controller="Mentor" asp-action="Delete" asp-route-itemid="@item.MentorId" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </div>
                </td>
            </tr> 
        }
        }
        else
        {
            <tr>
                <td colspan="8">
                    <div>
                    No mentors are available at this moment!
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
</form>
</body>

